<mat-card *ngIf="blogPost as post; else loading">
  <form #formDirective="ngForm" (submit)="updateBlogPost(formDirective)">
    <div class="form-container">
      <mat-form-field>
        <input
          matInput
          placeholder="title"
          [(ngModel)]="post.title"
          name="title"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="title"
          [(ngModel)]="post.subtitle"
          name="subtitle"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="title"
          [(ngModel)]="post.content"
          name="content"
          required
        ></textarea>
      </mat-form-field>
      <label for="image">Choose Image</label>
      <input type="file" name="blogImage" id="blogImage" />
      <button type="button" mat-button (click)="uploadImg()">
        Upload Image
      </button>

      <button mat-button type="submit" [disabled]="!formDirective.form.valid">
        update blog post
      </button>
    </div>
  </form>
</mat-card>

<ng-template #loading>loading...</ng-template>
